*.exe\n*.test\n*.out\ngo/relayd\n

# Flutter
flutter/.dart_tool/
flutter/.packages
flutter/.pub/
flutter/build/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/android/.gradle/
flutter/android/local.properties
flutter/android/key.properties
flutter/ios/Pods/
flutter/ios/.symlinks/
flutter/ios/Flutter/Flutter.framework
flutter/ios/Flutter/Flutter.podspec
flutter/ios/Runner/GeneratedPluginRegistrant.*
flutter/windows/flutter/
flutter/windows/runner/GeneratedPluginRegistrant.*
flutter/windows/runner/flutter_window.*
flutter/windows/runner/runner.exe
flutter/windows/runner/VRGram*
flutter/.idea/
flutter/.vscode/
flutter/*.iml
flutter/pubspec.lock
flutter/test/
flutter/android/app/libs/
flutter/windows/relayd.*
protoc_tmp/
run_analyze.bat
analyze_result.txt
